
.contenedor-cardIntento2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;



}















